.base{
	margin: 5em 0 0 0;
	background-color: #4682B4;
  box-sizing: border-box;
  border-radius: 0.4em;
  border: 0.1em solid;
}

#display{
	width: 91%;
  box-sizing: border-box;
	margin: 5% 2% 2% 5%;
	font-size: 2em;
	padding: 0.5em;
  text-align: right;
  border-radius: 0.3em;
  color: #FFFFFF;
  background: #000000;
  border: 0.1em solid;
  font-family: Digital-7;
}

.keyboard{
  box-sizing: border-box;
  margin: 5% 2% 0 5%;
  width: 100%;
}

button{ 
	margin: 1%;
	width: 22%;
	color: 	#2F4F4F;
	font-size: 1.5em;
  border-radius: 0.2em;
  border: 0.1em solid;
  text-transform:uppercase;
  background: #FFFAFA;
}

#result{
  width: 68%;
}

.operation:hover{
  background: #B0E0E6;
  color: #2F4F4F;
}

.number:hover{
  background: #2F4F4F;
  color: #FFFAFA;
}

#decimal:hover{
  background: #B0E0E6;
  color: #2F4F4F;
}

.clear:hover{
  background: #A52A2A;
  color: #FFFAFA;
}

